a {
  &:link {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.link {
  color: #255FCD;
  &--navbar {
    color: inherit;
    display: block;
    padding: 14px 0 14px 40px;

    &:hover {
      background-color: $likeBlue;
      text-decoration: none;
      color: $white;
    }
  }
  &--navbar-list {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.list-text {
  margin: 0 14px;
}

.form {
  &_title {
    @extend .col-max;
  }
  &_wrapper {
  }
  &_group {
  }
  &_input {
    padding: 10px 8px;
    @extend .row;
  }
}

@mixin inputTheme($borderColor, $focusShadowColor) {
  border: none;
  border-bottom: 1px solid $borderColor;
  height: 30px;
  &:focus {
    box-shadow: 0px 0px 3px $focusShadowColor;
  }
}

.input {
  &_label {
    @extend .col-max;
    padding-bottom: 10px;
  }
  &_text {
    @extend .col-max;
    @include inputTheme(#6B849B, #2aae76);
  }
  &_select {
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    &::-ms-expand {
      display: none;
    }
    @extend .col-max;
    @include inputTheme(#6B849B, #2aae76);
  }
}

@mixin buttonHoverColor($text, $background) {
  @include hoverColor($text, $background)
  border: 2px solid $background;
}

.button {
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px;
  background: none;
  @include buttonHoverColor($likeBlue, $likeBlue);
  &--okay {
    @include buttonHoverColor(#227104, #1C6700);
  }
  &--warn {
    @include buttonHoverColor(#5E6819, #D4C30F);
  }
  &--cansel {
    @include buttonHoverColor(#681919, #EE3F56);
  }
}
