@import "~normalize-scss/sass/_normalize.scss";

/* flexboxgrid options */
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1rem;
$flexboxgrid-outer-margin: 1rem;
$flexboxgrid-breakpoints:
  xs 1rem,
  sm 48rem,
  md 64rem,
  lg 80rem,
  xlg 90rem;

@import "~flexboxgrid-sass/flexboxgrid.scss";

/* variables */
@import "_variables.scss";

/* custom */
@import "_layout.scss";
